{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<div class="long_tile">	
	<div id="additional"> <i>Request password reset </i> </div>		
</div>		

<form method="post" action="/password/request-reset">
	
	<input type="text" placeholder="e-mail" onfocus="this.placeholder=''" onblur="this.placeholder='e-mail'" id="inputEmail" name="email" placeholder="email address" required type="email" class="form-control"/>
	
	<input type="submit" value="Send password reset">	
	
</form>

{% endblock %}
